.menu-zord{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1500382017468-9049fed747ef?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80') no-repeat center center/cover;
    color: white;
    padding: 60px;
    align-items: center;
    text-align: center;
}
.menu-zord .item{
    display: inline-block;
    padding: 20px;
    margin-left: -5px;
    text-align: center;
    width: 260px;
}
.menu-zord .item h3{
    text-transform: uppercase;
    font-size: 17px;
    margin: 5px;
}
.dashboard{
    margin: 20px;
    box-shadow: 0px 0px 5px rgba(56, 51, 51, 0.568);
    padding: 10px 25px;
}
.dashboard h2{
    margin: 5px;
    color: rgb(1, 54, 104);
}
.tabs-menu{
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: 2px solid #ddd;
}
.tabs-menu .tab{
    padding: 10px;
    font-size: 16px;
    font-weight: 550;
    width: 20%;
}
.tabs-menu .tab span{
    font-size: 30px;
    cursor: pointer;
}
.tab.active {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f9fa;
}   
.tabs-contents {
    margin-top: 15px;
    padding: 7px;
}     
.tab-content {
    display: none;
}     
.tab-content.active {
    display: block;
}
.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .category{
    width: 48%;
    margin: 8px;
    display: inline-block;
} .row .category h3{
    margin: 5px;
}
.row .category input{
    padding: 8px 12px;
    border: 1px solid #aaa;
    width: 100%;
    outline: none;
}
.row .category ul{
    height: 300px;
    overflow: scroll;
}
.acid{
    width: 48%;
}
.acid .acid-header{
    font-size: 14px;
    font-weight: 650;
    padding: 10px 15px;
}
.acid .acid-content{
    padding-left: 10px;
    padding-bottom: 10px;
}
.acid-content h3{
    font-size: 17px;
    margin: 5px;
}
@media screen and (max-width: 565px) {
    .tabs-menu{
        display: block;
    }
    .tabs-menu .tab{
        width: 95%;
    }
}
@media screen and (max-width: 880px) {
    .row{
        display: block;
    }
    .row .category, .acid{
        display: block;
        width: 98%;
    }
    .acid{
        margin-bottom: 10px;
    }
}