.menu-zord{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1500382017468-9049fed747ef?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80') no-repeat center center/cover;
    color: white;
    padding: 60px;
    align-items: center;
    text-align: center;
}
.menu-zord .item{
    display: inline-block;
    padding: 20px;
    text-align: center;
    width: 260px;
}
.menu-zord .item h3{
    text-transform: uppercase;
    font-size: 17px;
    margin: 5px;
}